/*.infoErrorPopUp {
  color: white;
  width: max-content;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 1rem;
  border-radius: 8px; /* Abgerundete Ecken
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Schatten für mehr Tiefe
  position: absolute;
}
.symbol {
  left: 2rem;
  font-size: 2em; /* Symbol 3 mal so groß
}
.text {
  font-size: 1.2em; /* Text 1.5 mal vergrößern
  margin-left: 20px; /* Abstand von der linken Seite, um Platz für das Symbol zu lassen
  text-align: center; /* Text rechtsbündig ausrichten

}*/


.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.infoErrorPopUp {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  color: #DBD1D1;
  padding: 12px 80px;
  border-radius: 4px;
  box-shadow: 6px 6px 2px rgb(17, 13, 13);
  z-index: 1000;
}

.symbol {
  margin-right: 20px;
  font-size: 17px;
}

.text {
  margin: 0;
  font-size: 17px;
}





.choicePopUp {
  height: 20vh;
  width: 30vw;
  background-color: #2c2c2c;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  margin-bottom: 40vh;
}

.choicePopUp p {
  padding: 3vh 2vw;
  font-size: 18px;
}

.choicePopUp button {
  background-color: #3a3a3a;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin-left: 3vw;
  margin-right: 3vw;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


