<div id="nonDepot-container">
    <div id="quote-container">
        <div id="top-elements">
          <div id="right-icons">
            <div id="settings-container" (click)="showSidePanel(SidePanel.Settings)">
              <img id="settings" src="../../assets/icons/phosphor-thin/gear_thin_icon.svg"/>
            </div>
          </div>
        </div>
        <div id="main-section">
          <p class="quote">"Zitat"</p>
          <p class="author">Von Jamal Musical</p>
          <button class="center-button">Klicken Sie hier</button>
        </div>
        <div id="side-panel" [class.show]="_showSidePanel" [class.hide]="_showSidePanel !== null && !_showSidePanel">
          <div class="background" (click)="hideSidePanel()"></div>
          <div id="content">
            <div *ngIf="sidePanel === SidePanel.Settings">
              <app-user-settings></app-user-settings>
            </div>
          </div>
        </div>
      </div>
</div>
  