/* Author: Viktoriia Vovchenko */

#main-container {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  display: flex;
}

#registration-container {
  height: 100%;
  width: 100%;
  background-image: url('../../assets/images/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

#content-container {
  width: 30vw;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: flex-start;
}

#registration-text {
  width: 40vw;
  height: 17vh;
  margin-left: 2vw;
  margin-top: 10vh;
  color: white;
  text-align: center;
  font-size: 11vh;
  letter-spacing: 1vw;
}

