<!-- Author: Joshua Kampmeier/ Viktoriia Vovchenko (kleine Änderungen für CSS)-->
<div id="main-container">
  <div id="registration-container">
    <div id="content-container">
      <h1 class="main-header" id="registration-text">Passwort zurücksetzen</h1>
      <div class="yellow-input-group">
        <input class="yellow-auto-fill-input" name="email" type="email" placeholder="E-Mail Adresse" required [(ngModel)]="email">
      </div>
      <button class="yellow-button" (click)="sendLink()">Link senden</button>
      <div class="bottom-links">
        <p (click)="naviagateToRegistrationPage()" class="bottom-link">Neues Konto erstellen?</p>
        <p>Zurück zur <span class="bottom-link" (click)="naviagateToLoginPage()">Anmeldung</span></p>
      </div>
    </div>
  </div>
</div>
