<!DOCTYPE html>
<html lang = "de">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Joshua Kampmeier">
  <meta name="description" content="Passwort-Zurücksetzen-Oberfläche">
  <title>Passwort zurücksetzen</title>
</head>
<body>
<div id="registration-container">
  <div id="main-section">
    <h1>Passwort vergessen?</h1>
    <p>Gib deine E-Mail-Adresse ein, damit wir dir ein Link senden können, mit dem du dein Passwort zurücksetzen kannst.</p>
    <div class="input-group">
      <input name="email" type="email" placeholder="E-Mail Adresse" required>
    </div>
    <button>Link senden</button>
    <p (click)="naviagateToRegistrationPage()">Neues Konto erstellen?</p>
    <p>Zurück zur <span id="anmelden-link" (click)="naviagateToLoginPage()">Anmeldung</span></p>
  </div>
</div>
</body>
