#registration-container {
  display: flex;
  justify-content: center;
  align-items: center;

  /*    height: 100vh;
      width: 100vw;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: url("../../assets/icons/image 1.jpg") no-repeat center center fixed;
      background-size: cover;
  */
}

#main-section {
  background-color: #BDBDBF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  width: 20vw;
  height: 80vh;
  margin-top: 5vh;
}

body {
  background-color: #f5f5f5;
}

input {
  display: block; /* macht die Elemente zu Blockelementen, sodass sie die volle Breite einnehmen */
  width: 100%; /* setzt die Breite auf 100% der Elternelementbreite */
}

.input-group {
  display: flex; /* verwendet Flexbox, um die Elemente nebeneinander anzuordnen */
  margin-bottom: 15px; /* Abstand zwischen den Form-Gruppen */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #37C9F6;
  border-radius: 10px;
  border: none;
}

#anmelden-link {
  color: blue;
}

/* Passwortstärke-Anzeige */
.password-strength {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 15px;
}

.strength-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  border-radius: 4px;
  transition: width 0.3s ease;
  background-color: yellow;
}

.password-strength-text {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
}

p {
  text-align: center;
}
