<!-- Author: Joshua Kampmeier -->
<div id="registration-container">
  <div id="main-section">
    <h1>Passwort ändern</h1>
    <div class="input-group">
      <input name="passwort" type="password" placeholder="Neues Passwort" required>
    </div>
    <div class="input-group">
      <input name="passwort wiederholen" type="password" placeholder="Neues Passwort wiederholen" required>
    </div>
    <div class="password-strength">
      <div class="strength-bar"></div>
      <div class="password-strength-text">Mittleres Passwort</div>
    </div>
    <button>Passwort ändern</button>
    <p (click)="navigateToPasswordResetPage()">Passwort vergessen?</p>
  </div>
</div>

