<!-- Author: Joshua Kampmeier -->
<div id="registration-container">
  <div id="main-section">
    <h1>Passwort ändern</h1>
    <div class="input-group">
      <div *ngIf="isPasswordInvalid" class="invalid-password-message">Ungültiges Passwort</div>
      <input name="passwort" type="password" placeholder="Passwort" required [(ngModel)]="password" (input)="checkPassword()" [ngClass]="{'invalid-password': isPasswordInvalid}">
    </div>
    <div class="input-group">
      <div *ngIf="!doPasswordsMatch && password2.length > 0" id="password-match-error">Passwörter stimmen nicht überein</div>
      <input name="passwort wiederholen" type="password" placeholder="Passwort wiederholen" required [(ngModel)]="password2" (input)="checkPasswordMatch()" [ngClass]="{'password-mismatch': !doPasswordsMatch && password2.length > 0}" #password2Field>
    </div>
    <div class="password-strength">
      <div class="strength-bar" [ngStyle]="{'width': passwordStrengthWidth, 'background-color': passwordStrengthColor}"></div>
      <div class="password-strength-text">{{ passwordStrengthText }}</div>
    </div>
    <button>Passwort ändern</button>
    <p (click)="navigateToPasswordResetPage()">Passwort vergessen?</p>
    <input type="reset" value="Abbrechen" (click)="onReset()">
  </div>
</div>

