#container {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../assets/images/homepage-background.png');
  background-size: 100vw;
  background-position: top center;
  background-attachment: local;
  background-repeat: no-repeat;
  background-color: #0e0c0a;
  z-index: -1;  /*Ensure background stays behind other content */
  overflow-x: hidden;
}

#gesamtwert-text {
  font-size: 25px;
  padding: 5px 0 5px 5px;
  margin: 3px 2px 3px 3px;
}

#top-elements {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 5px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

#right-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 20px;
}

#left-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

#left-buttons>* {
  height: 30px;
  align-self: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gesamtwert-info-icon {
  width: 1.2em;
  height: 1.2em;
  margin-bottom: 2em;
}


#main-section, #bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  width: calc(100vw - 70px);
  max-width: calc(100vw - 70px);
  min-width: calc(100vw - 70px);
  box-sizing: border-box;
}

#main-section {
  padding: 0 10px 10px;
  height: calc(100vh - 150px);
  max-height: calc(100vh - 150px);
}

.elementen-erste-linie, .elementen-zweite-linie {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  height: calc((100vh - 150px) / 2);
  max-height: calc((100vh - 150px) / 2);

}

.elementen-erste-linie {
  margin-bottom: 5px; /* Space between rows */
}

.grafik {
  flex: 1; /* Allows graphics to take equal space */
  margin: 0 10px; /* Space between graphics */
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  height: calc((100vh - 150px) / 2);
  max-height: calc((100vh - 150px) / 2);
}

#wertpapieren-table {
  flex: 1;
  margin: 0 10px;
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  height: calc((100vh - 150px) / 2);
  max-height: calc((100vh - 150px) / 2);
}


#expand-button {
  height: 40px;
  width: 40px;
  margin: 10px auto;
}

#expand-button img {
  height: 100%;
  width: 100%;
}

#settings {
  height: 100%;
}

#settings-container {
  height: 3em;
}

#transaktionen-table-container {
  width: calc(100vw - 70px);
  min-width: calc(100vw - 70px);
  height: calc((100vh - 120px) * 0.6);
  max-height: calc((100vh - 120px) * 0.6);
  margin-bottom: 10px;
}

#dividende-table-container {
  width: calc(100vw - 70px);
  min-width: calc(100vw - 70px);
  height: calc((100vh - 120px) * 0.4);
  max-height: calc((100vh - 120px) * 0.4);
  margin-bottom: 5px;
}

#depot-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 25px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #2b2621a9;
  padding: 10px;
  border-radius: 4px;
}

#depot-actions > * {
  font-size: 14px;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* Side-Panel Styling */
.background {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s linear;
  z-index: 2;
}

#side-panel.show .background {
  opacity: 1;
  pointer-events: all;
}

#side-panel.show #content {
  opacity: 1;
  z-index: 2;
  animation: slideIn 0.5s forwards;
}

#side-panel.hide #content {
  opacity: 1;
  z-index: 2;
  animation: slideOut 0.5s forwards;
}

#side-panel #content {
  opacity: 0;
  position: fixed;
  background: linear-gradient(180deg, rgb(32, 28, 25), rgba(16, 14, 12, 0.9), rgba(41, 37, 34, 0.7));
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
}

/* Styles für Gesamtwert Depot und Gewinn/ Verlust */
#depotwerte {
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 20px auto;
  margin-top: 35px;
}

#depotwerte .wert {
  font-size: 1.7em;
  font-weight: bold;
  margin-top: 1px;
}

.column {
  text-align: center;
}

/* Styles für Info Icon*/
.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 14em;
  background-color: #7c7c7c;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #7c7c7c transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
