<div id="container" *ngIf="isPageVisible(); else notLoggedInMessage">
  <div id="top-elements">
    <div id="left-elements">
      <div id="left-buttons">
        <app-depot-dropdown></app-depot-dropdown>
        <button (click)="showSidePanel(SidePanel.Kaufen)" class="global-button">Kaufen</button>
        <button (click)="showSidePanel(SidePanel.Verkaufen)" class="global-button">Verkaufen</button>
      </div>
    </div>

    <div id="right-icons">
      <div *ngIf="depots.length > 0" (click)="showSidePanel(SidePanel.DepotErstellen)">
        <img
          src="../../assets/icons/1904677_add_addition_calculate_charge_create_icon.svg"
        />
      </div>
      <div (click)="showSidePanel(SidePanel.Settings)">
        <img src="../../assets/icons/185095_settings_icon.svg" />
      </div>
    </div>
  </div>

  <div *ngIf="depots.length === 0" id="erstes-depot-view">
    <h1>Erstellen Sie ihr erstes Depot</h1>
    <img
      src="../../assets/icons/1904677_add_addition_calculate_charge_create_icon.svg"
      (click)="depotAnlegen()"
      id="erstes-depot-erstellen-icon"
    />
  </div>

  <div *ngIf="depots.length > 0">
    <div id="main-section">
      <div id="graphic">
        <app-grafik></app-grafik>
      </div>
      <div id="wertpapieren-table">
        <app-tabelle [tableHeader]="getWertpapieren()" [tableData]="getWertpapierenData()"></app-tabelle>
      </div>
    </div>
  </div>

  <div id="transaktionen-table" *ngIf="expanded">
    <app-tabelle [tableHeader]="getTransaktionenHeader()" [tableData]="getTransaktionen()"></app-tabelle>
  </div>

  <div id="expand-button">
    <img
      *ngIf="!expanded"
      src="../../assets/icons/2931160_down_direction_download_pointer_arrow_icon.svg"
      (click)="toggleExpand()"
    />
    <img
      *ngIf="expanded"
      src="../../assets/icons/2931161_arrow_top_up_direction_move_icon.svg"
      (click)="toggleExpand()"
    />
  </div>

  <div id="bottom-elements">
    <button id="export" class="global-button">Export</button>
    <button id="depot-loeschen" class="global-button">Depot löschen</button>
  </div>

  <div id="side-panel" [class.show]="_showSidePanel" [class.hide]="_showSidePanel!= null && !_showSidePanel">
    <div class="background" (click)="hideSidePanel()"></div>
    <div id="content">
      <div *ngIf="sidePanel === SidePanel.Kaufen">
        <app-wertpapier-vorgang [wertpapierVorgang]="WertpapierVorgang.Kaufen"></app-wertpapier-vorgang>
      </div>
      <div *ngIf="sidePanel === SidePanel.Verkaufen">
        <app-wertpapier-vorgang [wertpapierVorgang]="WertpapierVorgang.Verkaufen"></app-wertpapier-vorgang>
      </div>
      <div *ngIf="sidePanel === SidePanel.DepotErstellen">
        <app-depot-erstellen (onAbbrechen)="hideSidePanel()"></app-depot-erstellen>
      </div>
      <div *ngIf="sidePanel === SidePanel.Settings">
        <app-user-settings></app-user-settings>

      </div>
    </div>
  </div>
</div>

<!--Wird anstelle der Homepage angezeigt, wenn kein Token hinterlegt ist-->
<ng-template #notLoggedInMessage>
  <p>Sie sind nicht angemeldet.</p>
</ng-template>
