<div id="canvas-container">
  <div id="header-container">
    <p class="name grey-text">{{ name }}</p>
    <div *ngIf="this.typ === grafikTyp.WertverlaufWertpapierwerte">
    </div>
  </div>
  <div class="grafik-overview-container">
    <div *ngIf="typ == grafikTyp.WertverlaufDepotwerte">
      <app-grafik-linechart-depot [depotName]="selectedDepotName"></app-grafik-linechart-depot>
    </div>
    <div *ngIf="typ == grafikTyp.PizzadiagrammWertpapierMenge">
      <app-grafik-piechart-number [depotName]="selectedDepotName"></app-grafik-piechart-number>
    </div>
    <div *ngIf="typ == grafikTyp.PizzadiagrammWertpapierWert">
      <app-grafik-piechart-value [depotName]="selectedDepotName"></app-grafik-piechart-value>
    </div>
  </div>
</div>
