<!-- Author: Thore Böger -->
<div class="content">
  <p class="grey-text" id="header">Steuerrechner</p>
  <div class="information-line">
    <p class="grey-text">Steuersatz</p>
    <input type="number" id="steuersatz" name="steuersatz" class="grey-text" [(ngModel)]="steuersatz" (ngModelChange)="onInputChange()">
    <p class="grey-text after-input-symbol">%</p>
  </div>

  <div class="information-line">
    <p class="grey-text">Steuerfreibetrag</p>
    <input type="number" id="steuerfreibetrag" name="steuerfreibetrag" class="grey-text" [(ngModel)]="steuerfreibetrag" (ngModelChange)="onInputChange()">
    <p class="grey-text after-input-symbol">USD</p>
  </div>

  <div class="information-line">
    <p class="grey-text">Solidaritätsbeitrag</p>
    <input type="number" id="soli" name="soli" class="grey-text" [(ngModel)]="soli" disabled>
    <p class="grey-text after-input-symbol">%</p>
  </div>

  <div class="information-line">
    <p class="grey-text">Kirchensteuer</p>
    <input type="number" id="kirchensteuer" name="kirchensteuer" class="grey-text" [(ngModel)]="kirchensteuer" (ngModelChange)="onInputChange()">
    <p class="grey-text after-input-symbol">%</p>
  </div>

  <div class="information-line">
    <p class="grey-text">Verlust-verrechnungstopf</p>
    <input id="verlustverrechnungstopf" name="verlustverrechnungstopf" class="grey-text" [(ngModel)]="verlustverrechnungstopf" disabled>
    <p class="grey-text after-input-symbol">USD</p>
  </div>

  <div class="information-line">
    <p class="grey-text">Brutto Kapitalgewinne</p>
    <input id="kapitalgewinne_brutto" name="kapitalgewinne_brutto" class="grey-text" [(ngModel)]="kapitalgewinne_brutto" disabled>
    <p class="grey-text after-input-symbol">USD</p>
  </div>

  <div class="information-line">
    <p class="grey-text">Steuerbelastung</p>
    <input id="steuerbelastung" name="steuerbelastung" class="grey-text" [(ngModel)]="steuerbelastung" disabled>
    <p class="grey-text after-input-symbol">USD</p>
  </div>

  <div class="information-line">
    <p class="grey-text">Netto Kapitalgewinne</p>
    <input id="kapitalgewinne_netto" name="kapitalgewinne_netto" class="grey-text" [(ngModel)]="kapitalgewinne_netto" disabled>
    <p class="grey-text after-input-symbol">USD</p>
  </div>

  <div id="buttons">
    <button class="global-button grey-text" (click)="calculateSteuerbelastung(); onSubmit($event)">Berechnen</button>
    <button class="global-button grey-text" (click)="onReset()">Abbrechen</button>
    <button class="global-button grey-text" (click)="steuerinfoAngezeigt = !steuerinfoAngezeigt">
      {{steuerinfoAngezeigt ? "Steuerinfo schließen" : "Steuerinfo anzeigen"}}
    </button>
  </div>

  <div *ngIf="steuerinfoAngezeigt" id="steuerinfo">
    <p class="grey-text">
    Die Berechnung der Kapitalertragsteuer erfolgt durch die Anwendung eines festen Steuersatzes auf die Erträge aus Kapitalanlagen, abzüglich bestimmter Freibeträge und anderer Abzüge. Hier ist eine kurze Übersicht, wie diese Steuer in der Anwendung funktioniert:
  <br><br>
      1. <strong>Brutto-Kapitalgewinne</strong>: Dies sind die gesamten Erträge, die durch Investitionen wie Zinsen, Dividenden oder Gewinne aus dem Verkauf von Wertpapieren erzielt werden. In diesem Beispiel beträgt der Brutto-Kapitalgewinn {{ kapitalgewinne_brutto | currency:'USD':'symbol':'1.2-2' }}.
      <br><br>
      2. <strong>Verlustverrechnungstopf</strong>: Verluste aus früheren Investitionen können verwendet werden, um die Brutto-Kapitalgewinne zu reduzieren. In diesem Fall beträgt der Verlustverrechnungstopf {{ verlustverrechnungstopf | currency:'USD':'symbol':'1.2-2' }}.
      <br><br>
      3. <strong>Zu versteuerndes Einkommen</strong>: Dies wird berechnet, indem der Verlustverrechnungstopf von den Brutto-Kapitalgewinnen abgezogen wird. Das zu versteuernde Einkommen beträgt daher {{ (kapitalgewinne_brutto - verlustverrechnungstopf) | currency:'USD':'symbol':'1.2-2' }}.
      <br><br>
      4. <strong>Steuerfreibetrag</strong>: Jeder Steuerzahler hat einen Steuerfreibetrag, der von den zu versteuernden Kapitalgewinnen abgezogen wird. In diesem Beispiel beträgt der Steuerfreibetrag {{ steuerfreibetrag | currency:'USD':'symbol':'1.2-2' }}.
      <br><br>
      5. <strong>Gesamtsteuersatz</strong>: Der Gesamtsteuersatz setzt sich aus der Kapitalertragsteuer ({{ steuersatz }}%), dem Solidaritätszuschlag ({{ soli }}% auf die Kapitalertragsteuer) und eventuell der Kirchensteuer ({{ kirchensteuer }}%) zusammen.
      <br><br>
      6. <strong>Steuerbelastung</strong>: Die Steuerbelastung wird berechnet, indem das zu versteuernde Einkommen (nach Abzug des Steuerfreibetrags) mit dem Gesamtsteuersatz multipliziert wird. In diesem Fall beträgt die Steuerbelastung {{ steuerbelastung | currency:'USD':'symbol':'1.2-2' }}.
      <br><br>
      7. <strong>Netto-Kapitalgewinne</strong>: Dies sind die Kapitalgewinne nach Abzug der Steuerbelastung. Hier beträgt der Netto-Kapitalgewinn {{ kapitalgewinne_netto | currency:'USD':'symbol':'1.2-2' }}.
      <br><br>
      8. <strong>Währungs-Hinweis</strong>: Bitte beachten Sie, dass der Steuerrechner hier in US-Dollar rechnet. Diese Funktion soll eine Unterstützung zur Kalkulation der Steuerlast sein und soll ausdrücklich nicht als Rechengrundlage für die Steuererklärung dienen!

      <br><br>
      Zusammengefasst, wird die Steuerbelastung auf Kapitalerträge berechnet, indem der Verlustverrechnungstopf und der Steuerfreibetrag von den Brutto-Kapitalgewinnen abgezogen werden. Das verbleibende zu versteuernde Einkommen wird dann mit dem Gesamtsteuersatz multipliziert, um die Steuerbelastung zu ermitteln. Die Netto-Kapitalgewinne ergeben sich schließlich durch Abzug der Steuerbelastung von den Brutto-Kapitalgewinnen.
  </p>
  
  </div>
</div>

<!--
<form (submit)="onSubmit($event)">
    <table>
        <tr>
            <td><label for="steuersatz">Steuersatz</label></td>
            <td><input type="number" id="steuersatz" name="steuersatz" [(ngModel)]="steuersatz" (ngModelChange)="onInputChange()"></td>
            <td>%</td>
        </tr>
        <tr>
            <td><label for="steuerfreibetrag">Steuerfreibetrag</label></td>
            <td><input type="number" id="steuerfreibetrag" name="steuerfreibetrag" [(ngModel)]="steuerfreibetrag" (ngModelChange)="onInputChange()"></td>
            <td>EUR</td>
        </tr>
        <tr>
          <td><label for="soli">Solidaritätsbeitrag</label></td>
          <td><input type="number" id="soli" name="soli" [(ngModel)]="soli" disabled></td>
          <td>%</td>
        </tr>
        <tr>
            <td><label for="kirchensteuer">Kirchensteuer</label></td>
            <td><input type="number" id="kirchensteuer" name="kirchensteuer" [(ngModel)]="kirchensteuer" (ngModelChange)="onInputChange()"></td>
            <td>%</td>
        </tr>
        <tr>
            <td><label for="verlustverrechnungstopf">Verlustverrechnungstopf</label></td>
            <td><input id="verlustverrechnungstopf" name="verlustverrechnungstopf" [(ngModel)]="verlustverrechnungstopf" disabled></td>
            <td>EUR</td>
        </tr>
        <tr>
            <td><label for="kapitalgewinne_brutto">Brutto Kapitalgewinne</label></td>
            <td><input id="kapitalgewinne_brutto" name="kapitalgewinne_brutto" [(ngModel)]="kapitalgewinne_brutto" disabled></td>
            <td>EUR</td>
        </tr>
        <tr>
            <td><label for="steuerbelastung">Steuerbelastung</label></td>
            <td><input id="steuerbelastung" name="steuerbelastung" [(ngModel)]="steuerbelastung" disabled></td>
            <td>EUR</td>
        </tr>
        <tr>
            <td><label for="kapitalgewinne_netto">Netto Kapitalgewinne</label></td>
            <td><input id="kapitalgewinne_netto" name="kapitalgewinne_netto" [(ngModel)]="kapitalgewinne_netto" disabled></td>
            <td>EUR</td>
        </tr>
    </table>

    <input type="submit" value="Berechnen" (click)="calculateSteuerbelastung()">
    <input type="reset" value="Abbrechen" (click)="onReset()">
    <button type="button" (click)="toggleSteuerinfo()">Steuerinfo anzeigen</button>
</form>
<div id="Steuerinfo">
    <p>Hier sind einige Steuerinformationen...</p>
</div>
-->
