<!-- Author: Viktoriia Vovchenko -->
<table>
  <thead>
    <tr>
      <th *ngFor="let data of tableHeaderFormatted">
        <div class="header-content">
          <div>{{ data.wert }}</div>
          <img
            *ngIf="!headerSelected(data)"
            #icon
            (click)="showFilterSortPopup(data, icon)"
            src="../../../assets/icons/1063886_arrow_arrow down_arrow square_down_square_icon.svg"
            alt="icon"
          />
          <img
            *ngIf="headerSelected(data)"
            #icon
            (click)="showFilterSortPopup(data, icon)"
            src="../../../assets/icons/2_1063886_grey_arrow_arrow down_arrow square_down_square_icon.svg"
            alt="icon"
          />
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of tableDataFormatted">
      <tr *ngIf="data.shown">
        <td *ngFor="let item of data.row">
          {{ item }}
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<div
  #popup
  *ngIf="filterSortPopup != null"
  class="filter-sort-popup"
  [ngStyle]="{ 'top.px': popupPosition.top, 'left.px': popupPosition.left }"
>
  <div class="popup-content">
    <!-- Sortings -->
    <div
      *ngFor="let sorting of getFilterSortPopupOptions().sortings"
      class="option"
      (click)="toggleSorting(sorting, getFilterSortPopupOptions())"
      [ngClass]="{ selected: sorting.selected }"
    >
      <img [src]="sorting.imagesrc" alt="icon" />
      <div>{{ sorting.name }}</div>
    </div>

    <!-- Filters -->
    <div *ngFor="let filterOption of getFilterSortPopupOptions().filters">
      <div *ngIf="filterOption.typ === 'Dropdown'" class="filter">
        <label>{{ filterOption.name }}</label>
        <select
          *ngIf="filterOption.optionen"
          [(ngModel)]="filterOption.selected"
          (ngModelChange)="filterSelected(filterOption, getFilterSortPopupOptions())"
        >
          <option *ngFor="let option of filterOption.optionen" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div *ngIf="filterOption.typ === 'Textfeld'" class="filter">
        <label>{{ filterOption.name }}</label>
        <input type="text" [(ngModel)]="filterOption.selected" (ngModelChange)="filterSelected(filterOption, getFilterSortPopupOptions())" />
      </div>
      <div *ngIf="filterOption.typ === 'Slider'" class="filter slider-filter">
        <label>{{ filterOption.name }}</label>
        <app-range-slider
          [min]="filterOption.min"
          [max]="filterOption.max"
          [step]="1"
          [(value1)]="filterOption.value1"
          [(value2)]="filterOption.value2"
        ></app-range-slider>
      </div>
    </div>
  </div>
</div>
