<!-- Author: Viktoriia Vovchenko -->
<div id="container">
  <div *ngIf="name != ''" id="name-container">
    <p class="name grey-text">{{ name }}</p>
  </div>
  <div id="table-container">
    <table #table>
      <thead>
        <tr>
          <th *ngFor="let data of tableHeaderFormatted">
            <div class="header-content">
              <div class="grey-text">{{ data.wert }}</div>
              <img
                #icon
                (click)="showFilterSortPopup(data, icon)"
                [src]="getArrowSrc(data)"
                alt="icon"
              />
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of tableDataFormatted">
          <tr *ngIf="data.shown">
            <td *ngFor="let item of data.row">
              <div *ngIf="item.highlightedRange && filterSortPopup != null">
                <span class="grey-text">{{
                  item.wert.substring(0, item.highlightedRange.start)
                }}</span>
                <span
                  ><mark class="grey-text">{{
                    item.wert.substring(
                      item.highlightedRange.start,
                      item.highlightedRange.end
                    )
                  }}</mark></span
                >
                <span class="grey-text">{{
                  item.wert.substring(item.highlightedRange.end, item.wert.length)
                }}</span>
              </div>
              <div *ngIf="!item.highlightedRange || filterSortPopup == null" class="grey-text">
                {{ item.wert }}
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<div
  #popup
  *ngIf="filterSortPopup != null"
  class="filter-sort-popup"
  [ngStyle]="{ 'top.px': popupPosition.top, 'left.px': popupPosition.left }"
>
  <div class="popup-content">
    <!-- Sortings -->
    <div
      *ngFor="let sorting of getFilterSortPopupOptions().sortings"
      class="option"
      (click)="toggleSorting(sorting, getFilterSortPopupOptions())"
      [ngClass]="{ selected: sorting.selected }"
    >
      <img [src]="sorting.imagesrc" alt="icon" />
      <div>{{ sorting.name }}</div>
    </div>

    <!-- Filters -->
    <div *ngFor="let filterOption of getFilterSortPopupOptions().filters">
      <div *ngIf="filterOption.typ === 'Dropdown'" class="filter">
        <label>{{ filterOption.name }}</label>
        <select
          *ngIf="filterOption.optionen"
          [(ngModel)]="filterOption.selected"
          (ngModelChange)="filterSelected()"
        >
          <option *ngFor="let option of filterOption.optionen" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div *ngIf="filterOption.typ === 'Textfeld'" class="filter">
        <label>{{ filterOption.name }}</label>
        <input
          type="text"
          [(ngModel)]="filterOption.selected"
          (ngModelChange)="filterSelected()"
        />
      </div>
      <div *ngIf="filterOption.typ === 'Slider'" class="filter slider-filter">
        <label>{{ filterOption.name }}</label>
        <app-range-slider
          [min]="filterOption.min"
          [max]="filterOption.max"
          [step]="1"
          [(value1)]="filterOption.value1"
          [(value2)]="filterOption.value2"
          (value1Change)="filterSelected()"
          (value2Change)="filterSelected()"
        ></app-range-slider>
      </div>
      <div
        *ngIf="filterOption.typ === 'Checkbox'"
        class="filter checkbox-filter"
      >
        <label>{{ filterOption.name }}</label>
        <div *ngFor="let option of filterOption.optionen">
          <input
            type="checkbox"
            [checked]="option.selected"
            (change)="option.selected = !option.selected; filterSelected()"
          />
          <label>{{ option.name }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
