#container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  flex-direction: column;
  width: calc(100% - 25px);
  max-width: calc(100% - 25px);
  min-width: calc(100% - 25px);
  height: 100%;
  max-height: 100%;
}

.name {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  font-style: italic;
}

#table-container {

  height: calc(100% - 56px);
  max-height: calc(100% - 56px);
  background-color: #15110e;
  border-radius: 4px;
  padding: 15px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  position: relative;

}

#table-content-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  max-height: 100%;
  border-top: 0.5px solid #dbd1d15d;
}

table {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  border-collapse: collapse;
  text-align: left;
  table-layout: auto;
  position: relative;
}

th, td {
  max-width: 100%;
  border: 1px solid #dbd1d15d;
  padding: 7px;
  font-size: small;
}

th {
  padding: 10px;
  text-align: left;
  background-color: #24201d;
  position: sticky;
  top: 0;
  z-index: 2;
  border-top: 0px solid #dbd1d15d;
}

.header-content, .option {
  display: flex;
  align-items: center;
}

.header-content div {
  margin-right: 12px;
}

.header-content img, .option img {
  height: 1.5em;
}

.option div {
  margin-left: 12px;
}

.filter label {
  margin-right: 8px;
}

.filter {
  margin: 10px;
}

.popup-content {
  font-size: small;
  border: 1px solid #dbd1d1a1;
  border-radius: 4px;
  padding: 5px;
  box-shadow: #1a1512 1.5px 1.5px 1px 1px;
  background-color: #322a23;
}

.option {
  padding: 5px;
  margin: 5px;
  margin-right: 10px;
  background-color: #51463d;
}

.filter-sort-popup {
  position: fixed;
  z-index: 1000;
}

.selected {
  background-color: #6e6052;
}

.slider-filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkbox-filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkbox-option {
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: 7px; /* Increase the gap between checkbox and label text */
}

.custom-checkbox {
  position: relative;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #6e6052;
  border: 0.5px solid #dbd1d174;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  align-items: center;
}

.custom-checkbox:checked {
  background-color: #3a3128; /* Change the selection color */
  border: 0.5px solid #dbd1d174;
}

.custom-checkbox:checked::before {
  content: '\2714'; /* Unicode character for check mark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #DBD1D1; /* Color of the check mark */
}

.textfield {
  text-align: left;
  font-size: 15px;
  background-color: #3d352e;
  border: none;
  border-radius: 4px;
  margin-right: 0;
  padding-right: 0;
}

.dropdown-filter > label {
  margin-right: 10px;
}

#leer-fehlermeldung {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
