table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  border: 0.5px solid black;
  padding: 7px;
  font-size: small;
}

th {
  padding: 10px;
  text-align: left;
}

.header-content, .option {
  display: flex;
  align-items: center;
}

.header-content div {
  margin-right: 12px;
}

.header-content img, .option img {
  height: 1.5em;
}

.option div {
  margin-left: 12px;
}

.filter label {
  margin-right: 8px;
}

.filter {
  margin: 10px;
}

.popup-content {
  font-size: small;
  width: fit-content;
  border: 1px solid black;
  padding: 5px;
  box-shadow: rgb(161, 161, 161) 1.5px 1.5px 1px 1px;
  background-color: white;
}

.option {
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
}

.filter-sort-popup {
  position: absolute;
}

