.dropdown-container {
  display: flex;
  align-items: center;
  gap: 7px;
  position: relative;
  border: none;
  border-radius: 4px;
  padding: 1vh 2vh 1vh 2vh;
  margin: 3px;
  background-color: #443f37;
}

.custom-dropdown {
  appearance: none; /* Remove default dropdown arrow */
  flex-grow: 1; /* Allow the dropdown to take available space */
  background-color: #443f37;
  border: none;
  font-size: 2.7vh;
}

.dropdown-icon {
  width: 1.5em;
  height: 1.5em;
  pointer-events: none; /* Prevent icon from blocking clicks */
}
