<div id="header">
  <h1 class="main-header grey-text">Einstellungen</h1>
</div>
<div id="content">
  <div id="list-of-contents">
    <div class="line">
      <button class="global-button grey-text" (click)="kontoeinstellungenAngezeigt = true; steuereinstellungenAngezeigt = false;" >Kontoeinstellungen</button>
      <ng-container *ngIf="kontoeinstellungenAngezeigt">
        <img class="icon" src="../../assets/icons/phosphor-thin/caret_left_thin_icon.svg" alt="caret-left"/>
      </ng-container>
    </div>
    <div class="line">
      <button class="global-button grey-text" (click)="kontoeinstellungenAngezeigt = false; steuereinstellungenAngezeigt = true;">Steuereinstellungen</button>
      <ng-container *ngIf="steuereinstellungenAngezeigt">
        <img class="icon" src="../../assets/icons/phosphor-thin/caret_left_thin_icon.svg" alt="caret-left"/>
      </ng-container>
    </div>
  </div>

  <div *ngIf="kontoeinstellungenAngezeigt" id="kontoeinstellungen">
    <div id="kurs" class="information-line">
      <p class="grey-text">Vor- und Nachname</p>
      <input class="grey-text input-field" type="text" id="name" [(ngModel)]="name" [readonly]="!isEditing"/>
    </div>

    <div id="menge" class="information-line">
      <p class="grey-text">Menge</p>
      <input class="grey-text" type="number" placeholder="10"/>
    </div>
  </div>

  <div *ngIf="steuereinstellungenAngezeigt" id="steuereinstellungen">
    <div id="kurs" class="information-line">
      <p class="grey-text">Kurs</p>
      <input class="grey-text" type="number" placeholder="100.55"/>
    </div>

    <div id="menge" class="information-line">
      <p class="grey-text">Menge</p>
      <input class="grey-text" type="number" placeholder="10"/>
    </div>
  </div>
</div>

<form>
  <h2>Account Information</h2>

  <label for="name">Vor- und Nachname:</label><br>
  <input type="text" id="name" name="name" [(ngModel)]="name" [readonly]="!isEditing" class="input-field"><br>

  <label for="address_a">Straße und Hausnummer:</label><br>
  <input type="text" id="address_a" name="address_a" [(ngModel)]="address_a" [readonly]="!isEditing" class="input-field"><br>

  <label for="address_b">PLZ und Ort:</label><br>
  <input type="text" id="address_b" name="address_b" [(ngModel)]="address_b" [readonly]="!isEditing" class="input-field"><br>

  <label for="phone">Phone Number:</label><br>
  <input type="tel" id="phone" name="phone" [(ngModel)]="phone" [readonly]="!isEditing" class="input-field"><br>

  <label for="email">Email Address:</label><br>
  <input type="email" id="email" name="email" [(ngModel)]="email" readonly class="input-field"><br>
  <br>
  <button type="button" (click)="toggleEdit()">{{ isEditing ? 'Speichern' : 'Bearbeiten' }}</button>
</form>
<h2>Settings</h2>
<button type="button" (click)="naviagateToLoginPage()">Log Out</button>
<button (click)="showSteuerrechner()">Steuerrechner</button>
<button (click)="showChangePassword()">Passwort ändern</button>

<div *ngIf="steuerrechnerShown">
  <app-tax-settings (resetClicked)="hideSteuerrechner()"></app-tax-settings>
</div>

<div *ngIf="changePasswordShown">
  <app-change-password-page (resetClicked)="hideChangePassword()"></app-change-password-page>
</div>
