#content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  margin: 0 20px;
  overflow: show;
}

#header {
  margin: 10px 10px 0;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

.main-header {
  letter-spacing: 8px;
}

#list-of-contents {
  width: max(25%, 250px);
  margin-top: 8px;
}

.line {
  display: flex;
  flex-direction: row;
  height: 30px;
  gap: 7px;
  margin: 0 10px 15px 10px;
}

.line > button {
  width: calc(100% - 32px);
  max-width: calc(100% - 32px);
}

.icon {
  width: 25px;
  height: 25px;
}

.edit-icons {
  max-width: fit-content;
  margin: 0;
  padding: 2px;
  display: inline-flex;
  gap: 3px;
}

#kontoeinstellungen, #steuereinstellungen {
  width: 70%;
  height: calc(100vh - 155px);
  max-height: calc(100vh - 155px);
  float: left;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 2;
}

.information-line > p {
  max-width: max(100px, 30%);
}

.inline {
  white-space: nowrap;
}

#buttons > button {
  width: 90%;
  max-width: 90%;
  font-size: 15px;
  margin: 5px 20px;
  padding: 6px 10px;
}

#buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

#passwort-buttons > button {
  width: 90%;
  max-width: 90%;
}

.password-strength {
  width: 90%;
  max-width: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}

.passwort-fehlermeldung {
  color: rgb(205, 33, 33);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#changePassword > .information-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#changePassword > .information-line > input {
  width: min(50%, 300px);
  max-width: min(50%, 300px);
}

.danger-button {
  color: rgb(255, 108, 108);
}


/*
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
#passwort-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

#passwort-buttons > button {
  width: 90%;
}

#changePassword {
  overflow: show;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.password-strength {
  width: 90%;
  max-width: 90%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.passwort-fehlermeldung {
  color: rgb(205, 33, 33);
  font-size: 15px;
}*/

p {
  overflow: show;
}

input:focus {
  outline: none;
}


