<div id="header">
  <h1 class="main-header grey-text">Einstellungen</h1>
</div>
<div id="content">
  <div id="list-of-contents">
    <div class="line">
      <button class="global-button grey-text" (click)="kontoeinstellungenAngezeigt = true; steuereinstellungenAngezeigt = false;" >Kontoeinstellungen</button>
      <ng-container *ngIf="kontoeinstellungenAngezeigt">
        <img class="icon" src="../../assets/icons/phosphor-thin/caret_left_thin_icon.svg" alt="caret-left"/>
      </ng-container>
    </div>
    <div class="line">
      <button class="global-button grey-text" (click)="kontoeinstellungenAngezeigt = false; steuereinstellungenAngezeigt = true;">Steuereinstellungen</button>
      <ng-container *ngIf="steuereinstellungenAngezeigt">
        <img class="icon" src="../../assets/icons/phosphor-thin/caret_left_thin_icon.svg" alt="caret-left"/>
      </ng-container>
    </div>
  </div>

  <div *ngIf="kontoeinstellungenAngezeigt" id="kontoeinstellungen">
    <div *ngFor="let line of configuration.kontoeinstellungen">
      <div class="information-line">
        <p class="grey-text" [class.inline]="line.showInline">{{line.label}}</p>
        <input class="grey-text input-field" type="text" id="{{line.id}}" [(ngModel)]="line.currentValue" [readonly]="!line.currentlyEditing" [placeholder]="line.placeholder"/>
        <div class="edit-icons">
          <img *ngIf="!line.currentlyEditing" (click)="line.currentlyEditing = true;" class="icon" src="../../assets/icons/phosphor-thin/pencil_simple_thin_icon.svg"/>
          <img *ngIf="line.currentlyEditing" (click)="line.currentlyEditing = false; line.lastSavedValue = line.currentValue; saveData(line.id, line.currentValue) " class="icon" src="../../assets/icons/phosphor-thin/check_thin_icon.svg"/>
          <img *ngIf="line.currentlyEditing" (click)="line.currentlyEditing = false; line.currentValue = line.lastSavedValue;" class="icon" src="../../assets/icons/phosphor-thin/x_thin_icon.svg"/>
        </div>
      </div>
    </div>

    <div id="buttons">
      <button class="grey-text global-button" (click)="naviagateToLoginPage()">Ausloggen</button>
      <button class="grey-text global-button danger-button" (click)="deleteAccount()">Konto löschen</button>
      <button *ngIf="!changePasswordShown" class="grey-text global-button" (click)="changePasswordShown = true;">Passwort ändern</button>
    </div>

    <div *ngIf="changePasswordShown" id="changePassword">
      <div class="information-line">
        <p class="grey-text inline">Altes Passwort</p>
        <input class="grey-text input-field" type="password" [(ngModel)]="altesPasswort" (ngModelChange)="this.fehlermeldungPasswort = '';"/>
      </div>
      <div class="information-line inline">
        <p class="grey-text">Neues Passwort</p>
        <input class="grey-text input-field" type="password" [(ngModel)]="neuesPasswort" (ngModelChange)="checkPassword(neuesPasswort)"/>
      </div>
      <div class="information-line">
        <p class="grey-text">Neues&nbsp;Passwort noch&nbsp;einmal</p>
        <input class="grey-text input-field" type="password" [(ngModel)]="neuesPasswortWiederholung"/>
      </div>
      <div class="information-line">
        <div class="password-strength">
          <div class="strength-bar" [ngStyle]="{'width': passwordStrengthWidth, 'background-color': passwordStrengthColor}"></div>
          <div class="password-strength-text grey-text">{{ passwordStrengthText }}</div>
        </div>
      </div>
      <div *ngIf="fehlermeldungPasswort != ''" class="passwort-fehlermeldung">
        {{fehlermeldungPasswort}}
      </div>
      <div class="information-line" id="passwort-buttons">
        <button class="global-button grey-text" (click)="passwortAendern()">Ändern</button>
        <button class="global-button grey-text" (click)="passwortAendernAbbrechen()">Abbrechen</button>
      </div>
    </div>
  </div>

  <div *ngIf="steuereinstellungenAngezeigt" id="steuereinstellungen">
    <app-tax-settings (resetClicked)="hideSteuerrechner()"></app-tax-settings>
  </div>
</div>
