<div class="container">
  <div class="range-slider">
    <input type="range" [min]="min" [max]="max" [step]="step" [(ngModel)]="value1" (input)="onValue1Change()" />
    <input type="range" [min]="min" [max]="max" [step]="step" [(ngModel)]="value2" (input)="onValue2Change()" />
    <div class="slider-track" [ngStyle]="{ left: trackLeft, width: trackWidth }"></div>
    <div class="background-track"></div>
  </div>
  <div class="values">
    <div class="grey-text">{{ min }}</div>
    <div class="grey-text">{{ value1 }} - {{ value2 }}</div>
    <div class="grey-text">{{ max }}</div>
  </div>
</div>
