<!-- Author: Joshua Kampmeier/ Viktoriia Vovchenko (kleine Änderungen für CSS)-->
<div id="main-container">
  <div id="login-container">
    <h1 class="main-header" id="login-text">Login</h1>
    <div id="content-container">
      <div class="yellow-input-group">
        <input class="yellow-auto-fill-input" name="email" type="email" placeholder="E-Mail Adresse" required [(ngModel)]="email"/>
        <input class="yellow-auto-fill-input" name="passwort" type="password" placeholder="Passwort" required [(ngModel)]="passwort"/>
      </div>
      <button class="yellow-button" (click)="anmelden()">Anmelden</button>
      <div class="bottom-links">
        <p (click)="navigateToPasswordResetPage()" class="bottom-link">Passwort vergessen?</p>
        <p>Du hast kein Konto?
          <span id="registrieren-link" class="bottom-link" (click)="navigateToRegistrationPage()">Registrieren</span>
        </p>
      </div>
    </div>
  </div>
</div>
