#main-container {
  position: fixed; /* Stellt sicher, dass der Container immer im Ansichtsbereich bleibt */
  top: 0;
  left: 0;
  height: 100vh; /* 100% der Höhe des Ansichtsbereichs */
  width: 100vw; /* 100% der Breite des Ansichtsbereichs */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Verhindert Scrollen im Container */
}

#login-container {
  height: 100%;
  width: 100%;
  background-image: url("../../assets/images/adam-nir-wTO6MWpMrJk-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-section {
    background-color: #BDBDBF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    width: 20vw;
    height: 80vh;
    margin-top: 5vh;
}

input {
  display: block; /* macht die Elemente zu Blockelementen, sodass sie die volle Breite einnehmen */
  width: 100%; /* setzt die Breite auf 100% der Elternelementbreite */
}

.input-group {
  display: flex; /* verwendet Flexbox, um die Elemente nebeneinander anzuordnen */
  margin-bottom: 15px; /* Abstand zwischen den Form-Gruppen */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #37C9F6;
  border-radius: 10px;
  border: none;
}

#registrieren-link {
  color: blue;
}

p {
  text-align: center;
}
