<div id="content">
  <div id="header">
    <p>Depot erstellen</p>
  </div>
  <div id="information">
    <div id="depotrname" class="information-line">
      <p>Name</p>
      <input [(ngModel)]="name" type="text" class="global-input" />
    </div>
    <div id="waehrung" class="information-line">
      <p>Währung</p>
      <select [(ngModel)]="waehrung" class="global-select">
        <option value="EUR">EUR - Euro</option>
      </select>
    </div>
    <!--div id="date" class="information-line">
      <p>Eröffnungsdatum</p>
      <input type="date" [value]="currentDate" class="global-date" />
    </div-->
  </div>
  <div id="bottom-elements">
    <button class="depot-erstellen global-button" (click)="depotErstellen()">Depot erstellen</button>
    <button class="abbrechen global-button" (click)="abbrechen()">Abbrechen</button>
  </div>
</div>
